#page
  %header#header
    %h2 notes
  #main_content
    = form_for @note do |f|
      .field
        = f.label :title
        = f.text_field :title
      .field
        = f.label :body
        = f.text_area :body
      .field
        = f.submit
