= render 'layouts/header', show_btn: :no
#main_content
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      = f.email_field :email, autofocus: true
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum
      = f.password_field :password, autocomplete: "off"
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off"
    %label
      .button.centered= f.submit "Sign up"
