%header#header
  %h2#page_title= link_to 'notes v0.2', notes_path
  #user_controls
    - if user_signed_in?
      %span Logged in as
      = succeed "." do
        %strong= current_user.email
      = link_to "View your notes!", user_notes_path(current_user.id)
      %span ||
      = link_to 'Edit profile', edit_user_registration_path
      %span ||
      = link_to "Logout", destroy_user_session_path, method: :delete
    - else
      = link_to "Sign up", new_user_registration_path
      %span ||
      = link_to "Login", new_user_session_path
    - if user_signed_in? &&  show_btn == :yes
      .buttons
        .button.centered
          = link_to 'New global note!', new_note_path
        .button.centered
          = link_to 'New personal note!', new_note_path
